@model LiquidWork.Core.Model.Concepto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Concepto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConceptoId" />
            <div class="form-group">
                <label asp-for="NumeroLegajo" class="control-label"></label>
                <input asp-for="NumeroLegajo" class="form-control" readonly />
                <span asp-validation-for="NumeroLegajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiquidacionId" class="control-label"></label>
                <input asp-for="LiquidacionId" class="form-control" readonly />
                <span asp-validation-for="LiquidacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoConcepto" class="control-label"></label>
                <input asp-for="CodigoConcepto" class="form-control" />
                <span asp-validation-for="CodigoConcepto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreConcepto" class="control-label"></label>
                <input asp-for="NombreConcepto" class="form-control" />
                <span asp-validation-for="NombreConcepto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precedencia" class="control-label"></label>
                <input asp-for="Precedencia" class="form-control" />
                <span asp-validation-for="Precedencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoConcepto" class="control-label"></label>
                <select asp-for="TipoConcepto" class="form-control" asp-items="Html.GetEnumSelectList<LiquidWork.Core.Model.TipoConcepto>()"></select>
                <span asp-validation-for="TipoConcepto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
