@{
    ViewData["Title"] = "LiquidWork";
}

<div class="text-center">
    <h1 class="display-4">LiquidWork</h1>
    <p>Aplicacion para liquidación de sueldos con C# y Entity Framework Core</a>.</p>
</div>

<div>
    <p>
        Usuario: admin@email.com
        <br />
        Contraseña: Password1.
    </p>
    <p><img src="~/github-logo.png" style="width:30px;height:auto" alt="github logo"/><a href="https://github.com/tomasbrunog/LiquidWork">Source Code</a></p>
</div>