@{
    ViewData["Title"] = "LiquidWork";
}

<div class="text-center">
    <h1 class="display-4">LiquidWork</h1>
    <p>Aplicacion para liquidación de sueldos con C# y Entity Framework Core</a>.</p>
</div>
